<!-- <-- <h1 class=" display-5">Employees</h1> -->

 
<div>
    <table class="table table-bordered text-light">
        <thead class="table-dark">
            <tr>
                <th>Employee Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Salary</th>
                <th>DOB</th>
                <th>Email</th>
                <!-- <th>Action</th> -->
            </tr>
        </thead>
        <tr *ngFor="let emp of employees;index as i">
            <ng-template [ngIf]="currentIndex != i">
                <td>{{emp.EmployeeID}}</td>
            <td>{{emp.FirstName}}</td>
            <td>{{emp.LastName}}</td>
            <td class="table-dark">{{emp.Salary|currency:'USD'}}</td>
            <td class="table-dark">{{emp.DOB|date:'mediumDate'|uppercase}}</td>
            <td>{{emp.Email}}</td>
            </ng-template>
            
            <ng-template [ngIf]="showEdit && currentIndex == i">
                <td>
                    <input class="form-control  text-light" type="number" [(ngModel)]="emp.EmployeeID">
                </td>
                <td>
                    <input class="form-control" type="text" [(ngModel)]="emp.FirstName">
                </td>
                <td>
                    <input class="form-control" type="text" [(ngModel)]="emp.LastName">
                </td>
                <td>
                    <input class="form-control" type="number" [(ngModel)]="emp.Salary">
                </td>
                <td>
                    <input class="form-control" type="datetime" [(ngModel)]="emp.DOB">
                </td>
                <td>
                    <input class="form-control" type="text" [(ngModel)]="emp.Email">
                </td>
            </ng-template>
         <!--    <td>
                <ng-template [ngIf]="currentIndex != i">
                    <div>
                        <button class="btn btn-primary px-3" (click)="EditEmp();currentIndex=i">Edit</button>
                    </div>
                </ng-template>
                <ng-template [ngIf]="showEdit && currentIndex==i">
                    <div>
                        <button class="btn btn-primary px-3" (click)="UpdateEmp();currentIndex=null">Update</button>
                    </div>
                </ng-template>
            </td> -->
        </tr>

    </table>
</div>