<h1 class="d-flex justify-content-center">User Registration using Template driven form</h1>
<div class="d-flex justify-content-center ">
    <div>
        <form #form="ngForm">
            <input class="form-control" type="text" required name="name" ngModel #fullname="ngModel" placeholder="Full Name">
            
            <span class="forError" *ngIf="fullname.errors?.['required'] && fullname.touched">Name is Required for form !
                !</span>
                <br>
                

            <input class="form-control" type="email"  required name="email" ngModel #email="ngModel" name="email" ngModel placeholder="Email">
            
            <span class="forError" *ngIf="email.errors?.['required'] && email.touched">Please enter your email !
            </span>
            <br>
            

            <input class="form-control" type="number"  required name="number" ngModel  #number="ngModel" name="mobile" ngModel placeholder="Phone No.">
            
            <span class="forError" *ngIf="number.errors?.['required'] && number.touched">Please enter Number
                !</span>
                <br>

            <input class="form-control" type="password"  required name="password" name="password" ngModel  #password="ngModel" ngModel placeholder="Password">
            
            <span class="forError" *ngIf="password.errors?.['required'] && password.touched">Enter your Password !
                !</span>
                <br>

            <input class="form-control" type="password"    required name="confirm_password" ngModel  #confirm_password="ngModel" name="confirm_password" ngModel placeholder="Confirm Password">
            
             <span class="forError" *ngIf="confirm_password.errors?.['required'] && confirm_password.touched">Enter your confirm password !</span>
<br>
            <input type="checkbox" class="checkbox-inline"><span id="span2">Agree with terms and conditions</span>
            <br>
            <br>

            <button class="btn btn-primary">Sign Up</button>


        </form>
    </div>

</div>