<app-employee-list></app-employee-list>
<div class="d-flex flex-row pr-2">

    <img src="assets/img/babydres.jpg" height="25%" width="25%" alt="" class="pl-2 pb-2">
    <h4>Infant clothing or baby clothing is clothing made for infants. Baby fashion is a social-cultural consumerist
        practice that encodes in children's fashion the representation of many social features and depicts a system
     characterized by differences in social class, richness, gender, or ethnicity.</h4>

</div>
<div class="d-flex flex-row pr-2">
<img src="assets/img/b1.jpg" height="25%" width="25%" alt="" class="pl-2 pb-2">
<h4>Infant clothing or baby clothing is clothing made for infants. Baby fashion is a social-cultural consumerist
    practice that encodes in children's fashion the representation of many social features and depicts a system
 characterized by differences in social class, richness, gender, or ethnicity.</h4>
</div>
<div class="d-flex flex-row pr-2">
<img src="assets/img/b2.jpg" height="25%" width="25%" alt="" class="pl-2 pb-2">
<h4>Infant clothing or baby clothing is clothing made for infants. Baby fashion is a social-cultural consumerist
    practice that encodes in children's fashion the representation of many social features and depicts a system
 characterized by differences in social class, richness, gender, or ethnicity.</h4>
</div>
<div class="d-flex flex-row pr-2"><img src="assets/img/b3.jpg" height="25%" width="25%" alt="" class="pl-2 pb-2">
    <h4>Infant clothing or baby clothing is clothing made for infants. Baby fashion is a social-cultural consumerist
        practice that encodes in children's fashion the representation of many social features and depicts a system
     characterized by differences in social class, richness, gender, or ethnicity.</h4>
</div>


