<div class="d-flex flex-row justify-content-between p-2">
    <img src="assets/img/a1.jpg" class="justify-content-between mr-4">

    <h4 class="text-light p-3" style="background-color: rgb(155, 35, 24);">
        <h2 class="text-center">ZINI BAZAAR</h2>Your Market in Your Phone
        ZiniBazaar is an online shopping platform that helps you to shopping
        from your local market.You can buy your essential item from the market.

        Why download the zinibazaar online shopping app for mobile shopping?

        With many trends online shopping apps to choose from, zinibazaar offer an effortless online shopping experience:
        ? Exclusive Deals - Shop online with Zinibazaar to receive the best offers & prices
        ? Extra discounts + Free Shipping on your purchase
        ? Shop Current Fashion Trends - Browse for the latest styles & shop the best clothes & trends
        ? Easy Tracking - Track, exchange with just a click
        ? Convenient Shopping - Zinibazaar is the perfect way to continue
    </h4>

</div>
<div>
    <img src="assets/img/musicbanner.jpg" class="p-5"> <img src="assets/img/musicbanner.jpg">

</div>
<div> <img src="assets/img/men.jpg" alt="">
    <img src="assets/img/women.jpg" alt="">
</div>